langchain
langchain-core
langchain-community
langgraph

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface

sentence-transformers
transformers
huggingface-hub

python-dotenv
tiktoken

faiss-cpu
chromadb

fastapi
uvicorn
streamlit

pandas
numpy
plotly
matplotlib

requests

pypdf
pymupdf
unstructured
beautifulsoup4
lxml